.main{
    background-color: #000;
    .main__content{
        max-width: 90%;
        margin: auto;
        text-align: center;
        padding: 9rem 0;
        img{
            width: 60px;
             @media screen and (max-width: 600px) {
                width: 40px;
            }
        }
        h3{
            color: #fff;
            padding-top: 1rem;
            letter-spacing: 3px;
            font-weight: 400;
             @media screen and (max-width: 768px) {
                font-size: 20px;
            }
            span{
                font-weight: bold;
            }
        }
        p{
            padding-top: 2rem;
            color: #fff;
            width: 60%;
            margin: auto;
            @media screen and (max-width: 768px) {
                width: 90%;
                font-size: 14px;
            }
        }
    }
}